.container-1{
    border: 1px black solid;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

.flex-container-1{
    border: 1px black solid;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.flex-container-1 div{
    border: 1px black solid;
    padding: 10px;
}